.browser-heading1{
background-color:black;
background-size:cover;
color:white;
width:27vw;
padding:20px;
margin:15px;
border-radius:10px;
}

.browser-heading2{
background-color:black;
background-size:cover;
color:white;
width:27vw;
padding:20px;
margin:15px;
border-radius:10px;
}


.class2{
background-color:orange;
background-size:cover;
height:10vh;
width:20vw;
text-align:center;
border-style:solid;
}

.class3{
background-color:white;
background-size:cover;
height:10vh;
width:20vw;
text-align:center;
border-style:solid;
}

.class4{
background-color:green;
background-size:cover;
height:10vh;
width:20vw;
text-align:center;
border-style:solid;
}

.class5{
margin:100px;
}

.tags{
margin-top:20px;
margin-left:30px;
text-decoration:underline;
font-family:"roboto";
font-weight:bold;
}

.description{
margin-top:20px;
margin-left:100px;
text-decoration:underline;
font-family:"roboto";
font-weight:bold;
}

.tag1{
margin-top:5px;
margin-left:30px;
font-weight:bold;
}

.tag2{
margin-top:6px;
margin-left:35px;
}

.Task3cont1{
background-color:#F5F5DC;
background-size:cover;
height:100vh;
font-family:"roboto";
border-style:solid;
border-width:20px;
border-color:green;
}

.t3h1{
font-weight:bold;
font-size:50px;
color:white;
}

.t3h2{
font-weight:bold;
text-align:center;
color:white;
margin-left:8px;
width:10vw;
height:6vh;
border-radius:10px;
}

.t3h3{
background-color:green;
text-align:center;
height:8vh;
}

.t3h4{
margin-right:80px;
margin-top:150px;
}

.button{
background-color:black;
height:50px;
width:180px;
margin-left:25px;
border-radius:10px;
color:white;
margin-top:20px;
}


.button2{
background-color:green;
height:50px;
width:180px;
margin-left:25px;
margin-top:25px;
border-radius:10px;
color:white;
}