.Naasongsh1{
text-align:center;
font-family: "sans-serif";
font-weight: bolder;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}
.cont1{
    background-color:black;
    width:872px;
    height:90vh;
    margin-top: 50px;
}

.cont2{
    margin-left:20px;
    margin-top:20px;
    font-size:15px;
    color:white;
    text-decoration:none;
}


.hrtag{

    text-decoration:none;
    color:black;

}

.ogh2{
    text-align: center;
    margin-top:15px;
}

span{
    font-weight:bold;
}

.hrtag2{
    margin-top: 25px;
    font-style:italic;
    margin-bottom:25px;
}

.ogp1{
    color:red;
    text-decoration:none;
    font-size:20px;
    font-style:normal;
    
}

.Home{
    color:black;
    text-decoration: none;
    font-weight:bold;
    padding:10px;
}

.teaser{
    margin-top:80px;
}

.Thankyou{
    text-align: center;
    margin-top:80px;
    background-color:black;
    color:white;
    width:80vw;
}
